  #loading-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
  }

  #loading-container img {
    -webkit-filter: drop-shadow(0 0 0.2rem white);
    filter: drop-shadow(0 0 0.2rem white);
  }

  .bouncing-robot {
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .bounce-6 {
    animation-name: bounce-6;
    animation-timing-function: ease;
  }

  @keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
  }

  .progress-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5em;
    margin: 0;
  }

  .progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 500px;
  }

  .progress-value {
    animation: load 25s normal 2s forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 5px;
    width: 0;
  }

  .progress-full {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 5px;
    width: 100%;
  }

  @keyframes load {
    0% { width: 0; }
    30% { width: 50%; }
    50% { width: 80%; }
    100% { width: 95%; }
  }

  h1, h2 {
    font-family: 'ChargerRegular';
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
  }

  #container {
    overflow: hidden;
  }

  #top-bar {
    padding: 5px 10px 0px;
    transform: scale(0.85);
    transform-origin: 0 0;
    width: 117%;
  }

  #program-error {
    font-size: x-large;
    color: red;

    transform: scale(1.15);
    animation: 0.52s shake cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes shake {
    0% {
      transform: scale(1.15) translate3d(-150px, 0, 0);
    }
    10%, 90% {
      transform: scale(1.15) translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: scale(1.15) translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: scale(1.15) translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: scale(1.15) translate3d(4px, 0, 0);
    }
  }

  .small-panel {
    transform: scale(0.85);
    transform-origin: 0 0;
    width: 117%;
  }

  #inspector-panel {
    padding: 5px;
  }

  html, body, .fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .dark-theme {
    background: rgb(0,0,0);
    color: white;
  }

  h2 span {
    padding-right: 10px;
  }

  body .lm_content{
    overflow: auto !important;
  }

  .scrollable {
    overflow-x: auto !important;
    overflow-y: scroll !important;
  }

  #inspector-panel .card {
    border-radius: 0;
    border: none;
  }

  #inspector-panel .card table {
    margin-bottom: 0;
  }

  #code-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 13px;
  }

  #blocks-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #blockly {
    color: black;
  }

  .blocklySvg {
    background-color: #444 !important;
  }

  .blocklyWidgetDiv {

  }


  .blocklyToolboxDiv {

  }

  .blocklyFlyout {

  }

  .blocklyFlyoutBackground {

  }

  .lm_goldenlayout {
    /* HACK(Richo): This removes the background image that comes with goldenlayout's theme */
    background: inherit !important;
  }


  #output-panel pre {
    overflow: visible;
  }

  .allCapsMode {
    font-variant: small-caps;
  }



  .breakpoint {
    box-shadow: 0px 0px 1px 1px red inset;
    background-color: #c50000 !important;
  }

  .debugger_ActiveLine {
    position: absolute;
    background: rgba(255, 255, 0, 0.2);
    width: 100% !important;
    left: 0 !important;
  }

  .debugger_ActiveInterval {
    position: absolute;
    box-shadow: 0px 0px 1px 1px yellow inset;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity:0;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: lightgray;
  }

  ::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }

  /* Split */
  .split {
    display: flex;
    flex-direction: row;
  }

  .gutter {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
  }

/* Notificaciones */
.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 400px;
  position: relative;
  display: flex;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: #ffffff;
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  /* animation: hide_toast 0.3s ease forwards; */
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before {
  background:  #0ABF30;
}
.toast.error::before {
  background:  #E24D4C;;
}
.toast.warning::before {
  background:  #E9BD0C;
}
.toast.info::before {
  background: #3498DB;
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color:  #0ABF30;
}
.toast.error .column i {
  color:  #E24D4C;
}
.toast.warning .column i {
  color:  #E9BD0C;
}
.toast.info .column i {
  color: #3498DB;
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: #34495E;
}
@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
}