/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
/plugin.iml

/log

/resources/public/js/test
/public/js
/node_modules
/.shadow-cljs
