/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
/plugin.iml
/.calva

/log

/public/compiler/js
/public/simulator/js
/public/test
/out
/node_modules
/.shadow-cljs

pc.uuid
/events