{:device {:report-interval-min 25
          :report-interval-max 100
          :report-interval-inc 5
          :delta-threshold-min 1
          :delta-threshold-max 25
          :timing-diffs-size 10
          :pseudo-vars? false}
 :http {:enabled? true
        :interval 100}
 :udp {:enabled? true
       :interval 16}
 :eventlog? true}
