{:source-paths ["env/dev/cljs" "src" "test"]

 :dependencies [[proto-repl "0.3.1"]
                [clj-petitparser "0.1.2-SNAPSHOT"]]

 :nrepl {:port 9000
         :middleware []}

 :dev-http {8080 "public"}

 :builds {:compiler {:target :browser
                     :modules {:main {:init-fn middleware.core/init}}}

          :controller {:target :node-script
                       :main middleware.controller-core/main
                       :output-to "out/controller/main.js"
                       :compiler-options {:optimizations :simple}}

          :test {:target :browser-test
                 :test-dir "resources/public/js/test"
                 :ns-regexp "-(test|gen)\\d?$"
                 ;:ns-regexp "controller-test"
                 :devtools {:http-port 8021
                            :http-root "resources/public/js/test"}}}}
