;; shadow-cljs configuration
{:source-paths ["env/dev/cljs" "src-cljs"]

 :dependencies [[proto-repl "0.3.1"]]

 :nrepl {:port 9000
         :middleware []}

 :dev-http {8080 "public"}

 :builds {:compiler {:target :browser
                     :modules {:main {:init-fn prueba.core/init}}}}}
