body{
  background-color:#272e38;
}

table,td{
  background-color: #394554;
  border: 1px solid #516073; 
  border-collapse: collapse;
  font-family: Arial;
  text-align: center;
  padding: 20px;
  color: #fcfcfc;
 /* float: left;*/
}
table{
  width: 215px;
}
td,th{
  height:25px;
  width: 80px;
  background:#516073;
  padding: 10px;
}
circle{
  color: #0e141b;
  cursor: pointer;
}
h1{
  font-family: Arial;
  font-size:15px;
  text-align: left;
}

.button{
  background-color: #24a6df;
  color:#fcfcfc;
  border: none;
  padding: 10px;
  text-align: 16px;
  border-radius: 25px;
}
.button:hover{
  background-color: #1488bb;
  cursor: pointer;
}
.buttons{
  border:none;
  background-color: #394554;
  padding: 20px;
  text-align: center;
}
svg{
  background-color: #e1ecf7;
}
.texts{
  font-family: Arial, sans-serif;
  color:#fcfcfc;
  text-align: center;
  border: 1px solid #516073; 
  padding: 15px;
}
.pins{
  float: left;
  display: grid;
  right: 150px;
}
.globals{
  position: relative;
  /*top:500px;
  left: 100px;*/
  float: left;
  display: grid;
}
.stack{
  float: center;
  display: grid;
}
.left{
  float: left;
  width:215px;
  display: grid;
  background-color: #394554;
}
.right{
  float: right;
  width:215px;
  display: grid;
  background-color: #394554;
}
@media(max-width:1150px){
  .right{
    float:none;
    margin-left: 0;
    clear:both;
  }
}